[package]
name = "sssh_btc_contracts"
version = "0.1.0"
edition = "2024_07"

[cairo]
sierra-replace-ids = true

[dependencies]
starknet = ">=2.8.0"

[[target.starknet-contract]]
casm = true

[scripts]
test = "snforge test"
