name: ci

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  test-and-typecheck:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"

      - name: Install
        run: npm install

      - name: Typecheck
        run: npm run typecheck

      - name: Tests
        run: npm run test
